/* CSS Styling page */

.App {
  font-family: sans-serif;
}

body {
  background: url("../public/images/background.jpg") no-repeat center center
    fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.startExamButton {
  width: 60px;
  height: 30px;
  left: 50%;
  background-color: antiquewhite;
  margin-right: 20px;
  margin-left: 40%;
  margin: 0;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

* {
  margin: 0;
  padding: 0;
}

.modal-overlay {
  z-index: 9999;
  width: 100vw;
  position: absolute;
  top: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  display: block;
  padding: 1rem;
  background: white;
  width: 70%;
  height: 70%;
  border-radius: 1rem;
}

.prev_btn {
  width: 60px;
  height: 30px;
  background-color: antiquewhite;
  margin-right: 20px;
  margin-left: 40%;
}
.next_btn {
  width: 60px;
  height: 30px;
  background-color: lightgreen;
}

.footer_btn {
  margin-top: 35%;
}

.actual_content {
  padding-left: 50px !important;
  padding-top: 30px !important;
}

.question {
  padding-bottom: 15px;
}

.ans_section {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: larger;
}

.answers {
  padding-left: 30%;
}
